.container {
  position: relative;
  width: 100%;
  box-sizing: border-box;
}
.input {
  width: 100%;
  min-width: 100px;
  height: 2.6rem;
  font-size: 1.2rem;
  border: 0;
  outline: 0;
  padding-left: 10px;
  padding-right: 10px;
  box-sizing: border-box;
  box-shadow: none;
}
.indent {
  padding-left: calc(15px + 1.3rem);
}
.light {
  border-color: #eee;
  background-color: #eee;
  color: black;
}
.dark {
  border-color: #616161;
  background-color: #616161;
  color: white;
}
.input:focus::placeholder {
  color: transparent;
}
.container .licon {
  position: absolute;
  left: 0;
  top: 0;
  width: calc(1.4rem + 10px);
  height: 2.6rem;
}
.licon > svg {
  width: 1.3rem;
  height: auto;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
}
/* Change bg-color in autofill input */
.input:-webkit-autofill.light,
.input:-webkit-autofill:hover.light,
.input:-webkit-autofill:focus.light,
.input:-webkit-autofill:active.light {
  -webkit-box-shadow: 0 0 0 30px #eee inset !important;
}
.input:-webkit-autofill.dark,
.input:-webkit-autofill:hover.dark,
.input:-webkit-autofill:focus.dark,
.input:-webkit-autofill:active.dark {
  -webkit-box-shadow: 0 0 0 30px #616161 inset !important;
}
/*Change text in autofill textbox*/
.input:-webkit-autofill.light{
  -webkit-text-fill-color: black !important;
}
.input:-webkit-autofill.dark{
  -webkit-text-fill-color: white !important;
}
.input:-webkit-autofill.error {
  -webkit-text-fill-color: #d32f2f !important;
}
.error,
.error svg,
.error + .label::after {
  color: #d32f2f;
  border-color: #d32f2f;
}
.label::after {
  content: "";
  position: absolute;
  left: 0%;
  bottom: 0;
  width: 0%;
  height: 1px;
  border-top: 3px solid #08fdd8;
  transition: all 0.5s ease-in-out;
  z-index: 9;
}
.input:focus + .label::after,
.error + .label::after {
  width: 100%;
}
