.container {
  width: 100%;
  min-height: 100vh;
  overflow: hidden;
  color: var(--character-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.container section {
  margin: 40px;
}
.wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-end;
  column-gap: 20px;
  row-gap: 20px;
}
