.container {
  position: relative;
  cursor: pointer;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
}
.bar {
  background-color: #dddddd;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  column-gap: 5px;
  padding-left: 15px;
  box-sizing: border-box;
}
.bar > span {
  display: block;
  width: 21.3px;
  height: 21.3px;
  background-color: #ff5f57;
  border-radius: 50%;
}
.bar>span:nth-child(2) {
  background-color: #ffbd2e;
}
.bar>span:last-child {
  background-color: #28ca41;
}
.image {
  position: relative;
}
.back {
  position: absolute;
  top: 0; left: 0;
  z-index: 1;
  visibility: hidden;
  opacity: 0.1;
  filter: brightness(50%) sepia(0.3);
  transition: all 0.1 ease-in-out;
}
.container:hover .back {
  visibility: visible;
  opacity: 1;
  animation: godown 100ms ease-in-out forwards;
  transform-origin: top;
}
@keyframes godown {
  from {
    transform: scaleY(0.3);
  }
  to {
    transform: scaleY(1);
  }
}